Data/
DB/
toy_project/MLops/**/*.onnx
.DS_Store
toy_project/VAE/MNIST_data
toy_project/VAE/data
project_code/tutorial/hymenoptera_data/
project_code/tutorial/*.pt

toy_project/VAE_GAN/MNIST_data/

Competition/MachineUnlearning/data
Competition/MachineUnlearning/*.pth

Competition/Careers_analysis/open/*.csv

project_code/youtube/**/data